.user {
  position: absolute;
  left: -2rem;
  top: 0.4rem;
}
.email {
  position: absolute;
  left: -2rem;
  top: 4.2rem;
}
.password {
  position: absolute;
  left: -2rem;
  top: 7.95rem;
}
.forgPass {
  margin: -1rem 0;
  font-size: 0.6rem;
  font-weight: 600;
}
.account {
  font-size: 0.7rem;
  font-weight: 600;
  text-align: right;
  margin: 1rem 2.5rem;
  z-index: 100;
}
.inputForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem auto;
  align-items: center;
  position: relative;
  width: 65%;
}
.inputForm input {
  border-radius: 5rem;
  border: solid black 1px;
  height: 2.2rem;
  /* text-align: center; */
  width: 100%;
  font-size: 0.85rem;
  padding: 0 2.5rem;
}
.inputForm button[type="submit"] {
  border-radius: 5rem;
  height: 2.1rem;
  border: none;
  width: 50%;
  background-color: #9acfd3;
}
